<% if @report.nil? %>
	The report has no data for this date range.
<% else %>
<script type="text/javascript">
	var chart_title = "<%=@reports[@report_name]['description']%> Report";
	var chart_type = "<%=chart_type%>";
	var chart_data = <%=chart_data%>;
	var chart_colors = <%=@google_chart_colors%>;
	var width = <%=@width%>;
	var height = <%=@height%>;
</script>

<div id="chart_div"></div>
<% end %>