<!-- TODO move these to the head -->
<%= stylesheet_link_tag "old_sql/jqgrid/ui.jqgrid.css" %>
<%= javascript_include_tag "old_sql/jqgrid/jquery.jqGrid.min.js" %>
<%= javascript_include_tag "old_sql/jqgrid/ui.multiselect.js" %>

<script>
jQuery(document).ready(function(){
  jQuery("#rowed1").jqGrid({
    url:"http://<%=@host%>:<%=@port%>/sql/reports/query.json/?report=<%=@report_name%>&report_sql=<%=@report_sql%>&generation=<%=@generation%>&start_date=<%=@start_date%>&end_date=<%=@end_date%>",
  	datatype: "json",
  	pager: false,
    colNames: <%=jqgrid_col_names%>,
    colModel: <%=jqgrid_col_model%>,
    rowNum:25,
    rowList:[10,20,30],
    width: 777,
    caption: "<%=@reports[@report_name]['value']%> Report"
  });
});
</script>

<table id="rowed1"></table>