<script>
var host = "<%=@host%>";
var port = "<%=@port%>";
var default_report_view = "<%=@report_view%>";
</script>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Reports</a></li>
		<li><a href="#tabs-2">Query</a></li>
		<li><a href="#tabs-3">Schema</a></li>
	</ul>
	
	<div id="tabs-1">
		<%= render(:partial => 'reports') %>
	</div>
	
	<div id="tabs-2">
		<%= render(:partial => 'query') %>
	</div>
	
	<div id="tabs-3">
		Coming Soon...
	</div>
	
	<div id="data_grid">
		<iframe id="data_grid_frame" src="" width="100%" height="530" frameborder="0" scrolling="no">
			<p>Your browser does not support iframes.</p>
		</iframe>
	</div>
</div>

<div id="old-sql">built with <a href="https://github.com/egonz/old_sql" target="_blank">Old SQL</a></div>